name: Deploy Azure CI 

on:      
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: 'env'     
        options:
        - "dev"
        - "prd"
      tag:
        description: "Docker TAG"
        required: true
        default: "현재시간"
  
jobs:
  build-push:
    name: azr-build-push
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, Linux, X64]  
    environment: production

    steps:
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          
    - name: Check out the repo
      uses: actions/checkout@v4
   
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
      
    - name: Log in to Docker Hub
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.AZURE_URL }}
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}
      
    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: Asia/Seoul
        
    - name: set env  # TAG 를 현재 시간으로 설정
      run: echo "NOW=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
      
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ github.repository }}
        tags: ${{ env.NOW }} # ${{ github.event.inputs.name }}
  
    - name: Build and Push to ACR
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        file: ./Dockerfile
        platforms: linux/amd64
        #build-args: |
        #  WHATAP_HOST: ${{ secrets.WHATAP_HOST }}
        tags: ${{ secrets.AZURE_URL }}/${{ steps.meta.outputs.tags }}
